@tailwind base;
@tailwind components;
@tailwind utilities;

body{
overflow-x:hidden;
}
.links {
  @apply hover:text-[#313bac];
  position: relative; /* Ensure the parent element is positioned */
}

.links:hover::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  background-color: #313bac;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}
